<a href="https://colab.research.google.com/github/Akshita-Mendon/ml_day1_/blob/main/heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
df.shape

(303, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

To check whether there is any null data

In [7]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

There is no null data present

Copying the main data set to another variable

In [8]:
data = df.copy()

In [9]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

We cannot drop any of the features as all of them are required for the model

**Types of Data**

Continuous Data - A continuous dataset is a type of data that contains continuous variables, meaning that the variables can take on any value within a certain range or interval. Examples of continuous variables include height, weight, temperature, and time. Continuous datasets are often analyzed using statistical methods that are designed to work with continuous data, such as regression analysis and correlation analysis.

Categorical Data -Categorical data is a type of data that represents groups or categories rather than numerical values. Categorical data can be further divided into two types: nominal and ordinal. Categorical data is often analyzed using descriptive statistics, such as frequency distributions and cross-tabulations.

**Heatmap**

A heatmap is a graphical representation of data that uses color to show the relative values of a matrix of numerical data. Heatmaps are often used to visualize complex data sets and to identify patterns or trends within the data. In a heatmap, each value in the data matrix is represented by a colored cell. The color of the cell corresponds to the value of the data, with higher values typically represented by warmer colors, such as red or orange, and lower values represented by cooler colors, such as blue or green

**Pairplot**

Pairplot is a type of visualization in data analysis that displays pairwise relationships between variables in a dataset. It is a plot where each variable in a dataset is compared against all other variables to identify patterns and relationships between them. A pairplot typically consists of a grid of scatterplots and histograms, where each variable is plotted against every other variable in the dataset. The diagonal of the plot usually contains a histogram of each variable to show its distribution. The off-diagonal plots show the scatterplot of two variables, which helps in identifying the correlation between them.

**Clustermap**

A clustermap is a type of heatmap that is used to visualize hierarchical clustering in data analysis. It displays a dendrogram alongside the heatmap, allowing for the visualization of the clustering relationships between the rows and columns of the data. In a clustermap, the rows and columns of the heatmap are clustered based on their similarity to each other, with similar rows and columns placed closer together. The dendrogram on the side of the plot shows the hierarchical clustering of the rows or columns. The color of each cell in the heatmap indicates the magnitude of the value of the data in that cell.